@import 'settings';
@import 'helpers';

body {
    margin: 0;
    font-family: 'Roboto';
    overflow: hidden;
}

.wrapper {
    position: relative;
}

#map {
    width: 100%;
    height: 100vh;
}

.buttons {
    font-size: 1.5rem;
    position: absolute;
    top: 0;
    left: 0;
    margin: $app-spacing;

    &__btn {
        width: 32px;
        height: 32px;
        display: inline-block;
        background: $app-color-black;
        color: $app-color-pink;
        text-align: center;
        padding: $app-spacing-half;
        border-radius: .3125rem;
        box-shadow: .125rem .125rem .3125rem 0 lighten($app-color-black);

        &__icon {
            vertical-align: middle;
        }
    }
}

.data {
    position: absolute;
    bottom: -50%;
    width: calc(100% - #{$app-spacing-double});
    height: 12.5rem;
    background: #36413E;
    margin: $app-spacing;
    padding: $app-spacing;
    color: #EBEBEB;
    border-radius: .3125rem;
    border: .125rem solid #F7567C;
    box-shadow: .125rem .125rem .3125rem 0 lighten($app-color-black);
    opacity: .8;
    box-sizing: border-box;
    word-wrap: break-word;
    word-break: break-all;
    transition: all .5s;

    @include breakpoint(l) {
        top: 0;
        right: -50%;
        width: 30rem;
        height: calc(100% - #{$app-spacing-double});
    }

    &--open {
        bottom: 0;

        @include breakpoint(l) {
            right: 0;
        }
    }
}
