// Spacing
$app-spacing: 1.5rem;
$app-spacing-half: $app-spacing / 2;
$app-spacing-double: $app-spacing * 2;

// Colors
$app-color-black: #36413e;
$app-color-pink: #f7567c;

// Breakpoints
$breakpoints: (
    'm': 768px,
    'l': 1024px,
);